doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='http://ec2-52-33-103-137.us-west-2.compute.amazonaws.com:3000/workers'): button(type="button") Workers
    a(href='http://ec2-52-33-103-137.us-west-2.compute.amazonaws.com:3000/'): button(type="button") Work Done

      block content
