body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: inline-block;
}

a {
  color: #00B7FF;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 14px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}
